@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
	color: black;
	font-weight: 300;
  font-size: 1.5rem;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}

