.input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.input label {
  font-weight: bold;
  margin-right: 1rem;
}

.input input {
  width: 9rem;
  
  border-radius: 5px;
  border: 2px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
  transition: ease-in-out, width .35s ease-in-out;
}

.input input:focus {
  color: black;
  outline: none;
  border: 2px solid #b33909;
}
.input input:hover {
  border: 2px solid #b33909;
}

.input select {
  width: 9rem;
  outline: none;
  border-radius: 5px;
  border: 2px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
}
.input select:hover
{
  border: 2px solid #b33909;
}
.input option:hover
{
  background-color: #b33909;
}
